In [1]:
import pandas as pd
df_csv = pd.read_csv('data.csv')
df_csv.head()

   B   1999-08-28   14.1
0  E   1999-12-06   12.2
1  E   1993-07-21   17.0
2  C   1991-02-12   13.8
3  E   1995-04-25   16.9
4  A   1992-08-22   14.8

In [126]:
%%writefile mapper2.py
#!/usr/bin/env python3
import sys
if __name__ == "__main__":
    for line in sys.stdin:
        letra,ano,valor=line.split()
        sys.stdout.write("{}\t{}\n".format(letra,valor))

Overwriting mapper2.py

In [127]:
!chmod +x mapper2.py

In [128]:
!cat ./data.csv | ./mapper2.py | sort | head

A	10.7
A	11.0
A	12.6
A	12.6
A	13.1
A	13.6
A	14.5
A	14.8
A	14.9
A	16.8

In [129]:
%%writefile reducer2.py
#!/usr/bin/env python3
import sys
if __name__ == '__main__':
    maxi = 0
    mini = None
    curkey=None
    for line in sys.stdin:
        key, val = line.split("\t")
        val=float(val)
        if key == curkey:
            if mini is None:
                mini=val
            if maxi < val:
                maxi=val
            if mini > val:
                mini=val
        else:
            if curkey is not None:
                sys.stdout.write("{}\t{}\t{}\n".format(curkey, maxi, mini))
            curkey = key
            mini = val
            maxi = val
    sys.stdout.write("{}\t{}\t{}\n".format(curkey, maxi, mini))

Overwriting reducer2.py

In [130]:
!chmod +x reducer2.py

In [131]:
!cat ./data.csv | ./mapper2.py | sort | ./reducer2.py

A	18.4	10.7
B	17.0	10.7
C	15.3	10.2
D	15.1	15.1
E	18.8	10.5