In [2]:
import pandas as pd
df_csv = pd.read_csv('data.csv')
df_csv.head()

   B   1999-08-28   14
0  E   1999-12-06   12
1  E   1993-07-21   17
2  C   1991-02-12   13
3  E   1995-04-25   16
4  A   1992-08-22   14

In [61]:
%%writefile mapper2.py
#!/usr/bin/env python3
import sys
if __name__ == "__main__":
    for line in sys.stdin:
        cont=0
        for word in line.split():
            if cont==1:
                ano,mes,dia=word.split("-")
                sys.stdout.write("{}\t1\n".format(mes))
            if(cont==2):
                cont=0
            cont+=1

Overwriting mapper2.py

In [62]:
!chmod +x mapper2.py

In [63]:
!cat ./data.csv | ./mapper2.py

08	1
12	1
07	1
02	1
04	1
08	1
06	1
01	1
09	1
05	1
02	1
04	1
10	1
02	1
09	1
08	1
12	1
08	1
11	1
04	1
12	1
01	1
09	1
03	1
10	1
08	1
01	1
02	1
09	1
05	1
09	1
02	1
01	1
07	1
09	1
07	1
10	1
09	1
10	1
10	1

In [66]:
%%writefile reducer2.py
#!/usr/bin/env python3
import sys
if __name__ == '__main__':
    curkey = None
    total = 0
    for line in sys.stdin:
        key, val = line.split("\t")
        val = int(val)
        if key == curkey:
            total+= val
        else:
            if curkey is not None:
                sys.stdout.write("{}\t{}\n".format(curkey, total))
            curkey = key
            total = val
    sys.stdout.write("{}\t{}\n".format(curkey, total))

Overwriting reducer2.py

In [67]:
!chmod +x reducer2.py

In [68]:
!cat ./data.csv | ./mapper2.py | sort | ./reducer2.py

01	4
02	5
03	1
04	3
05	2
06	1
07	3
08	5
09	7
10	5
11	1
12	3