In [1]:
import pandas as pd
df_csv = pd.read_csv('data.csv')
df_csv.head()

   B   1999-08-28   14
0  E   1999-12-06   12
1  E   1993-07-21   17
2  C   1991-02-12   13
3  E   1995-04-25   16
4  A   1992-08-22   14

In [2]:
%%writefile mapper2.py
#!/usr/bin/env python3
import sys
if __name__ == "__main__":
    for line in sys.stdin:
        letra,ano,valor=line.split()
        sys.stdout.write("{}\t{}\n".format(letra,valor))

Writing mapper2.py

In [3]:
!chmod +x mapper2.py

In [4]:
!cat ./data.csv | ./mapper2.py | sort | head

A	10
A	11
A	12
A	12
A	13
A	13
A	14
A	14
A	14
A	16

In [14]:
%%writefile reducer2.py
#!/usr/bin/env python3
import sys
if __name__ == '__main__':
    suma = 0
    prom = 0
    cont=0
    curkey=None
    for line in sys.stdin:
        key, val = line.split("\t")
        val=float(val)
        if key == curkey:
            suma+=val
            cont+=1
        else:
            if curkey is not None:                
                promedio= suma/cont
                sys.stdout.write("{}\t{}\t{}\n".format(curkey, suma, promedio))
            curkey = key
            suma = val
            cont = 1
    promedio= suma/cont
    sys.stdout.write("{}\t{}\t{}\n".format(curkey, suma, suma/cont))

Overwriting reducer2.py

In [15]:
!chmod +x reducer2.py

In [16]:
!cat ./data.csv | ./mapper2.py | sort | ./reducer2.py

A	165.0	13.75
B	136.0	13.6
C	48.0	12.0
D	15.0	15.0
E	192.0	14.76923076923077