In [1]:
import pandas as pd
df_csv = pd.read_csv('data.csv')
df_csv.head()

   E   1990-05-03   16\t
0   A   1992-09-19   9\t
1  A   1990-10-06   10\t
2  E   1994-02-14   10\t
3  E   1999-09-10   11\t
4  A   1992-08-22   16\t

In [44]:
%%writefile mapper2.py
#!/usr/bin/env python3
import sys
if __name__ == "__main__":
    for line in sys.stdin:
        letra,ano,valor=line.split()
        valor=int(valor)
        sys.stdout.write("{}\t{}\t{}\n".format(letra,valor,ano))

Overwriting mapper2.py

In [45]:
!chmod +x mapper2.py

In [46]:
!cat ./data.csv | ./mapper2.py | sort

A	0	1990-07-22
A	10	1990-10-06
A	11	1990-09-05
A	12	1990-08-31
A	121	1988-04-27
A	13	1997-12-15
A	14	1994-10-25
A	15	1993-01-11
A	16	1992-08-22
A	17	1993-05-08
A	8	1990-09-26
A	9	1992-09-19
B	1	1995-08-23
B	121	1999-06-11
B	13	1999-10-21
B	131	1998-11-22
B	14	1997-04-09
B	15	1995-09-06
B	16	1993-03-02
B	17	1999-08-28
B	18	1994-08-30
B	9	1991-10-01
C	10	1994-01-25
C	104	1994-07-27
C	13	1991-02-12
C	15	1994-09-09
D	15	1990-10-10
E	10	1994-02-14
E	11	1999-09-10
E	12	1999-12-06
E	141	1991-02-18
E	15	1999-01-14
E	16	1990-05-03
E	17	1985-02-12
E	18	1990-02-09
E	19	1993-12-27
E	2	1998-09-14
E	3	1995-04-25
E	4	1993-07-21
E	9	1993-01-27

In [4]:
%%writefile reducer2.py
#!/usr/bin/env python3
import sys
if __name__ == '__main__':
    cont=0
    curkey=None    
    lista=[]
    aux=[]
    inicio=0
    for line in sys.stdin:
        key, val, ano = line.split("\t")
        val=int(val)        
        if key == curkey:
            aux=line
            for i in range(inicio,len(lista)):
                x=lista[i].split("\t")   
                if int(x[1]) > val:
                    aux=lista[i]
                    lista[i]=line     
                    y=aux.split('\t')
                    val=int(y[1])
                    line=aux
            #lista.append(aux)  
            lista.append(line) 
        else:
            lista.append(line)
            curkey = key
            inicio=cont
        cont+=1  
    for datos in lista:
        datos=datos.split("\t")
        sys.stdout.write("{}\t{}\t{}\n".format(datos[0], datos[2].strip(), datos[1]))

Overwriting reducer2.py

In [5]:
!chmod +x reducer2.py

In [6]:
!cat ./data.csv | ./mapper2.py | sort | ./reducer2.py

A	1990-07-22	0
A	1990-09-26	8
A	1992-09-19	9
A	1990-10-06	10
A	1990-09-05	11
A	1990-08-31	12
A	1997-12-15	13
A	1994-10-25	14
A	1993-01-11	15
A	1992-08-22	16
A	1993-05-08	17
A	1988-04-27	121
B	1995-08-23	1
B	1991-10-01	9
B	1999-10-21	13
B	1997-04-09	14
B	1995-09-06	15
B	1993-03-02	16
B	1999-08-28	17
B	1994-08-30	18
B	1999-06-11	121
B	1998-11-22	131
C	1994-01-25	10
C	1991-02-12	13
C	1994-09-09	15
C	1994-07-27	104
D	1990-10-10	15
E	1998-09-14	2
E	1995-04-25	3
E	1993-07-21	4
E	1993-01-27	9
E	1994-02-14	10
E	1999-09-10	11
E	1999-12-06	12
E	1999-01-14	15
E	1990-05-03	16
E	1985-02-12	17
E	1990-02-09	18
E	1993-12-27	19
E	1991-02-18	141