In [1]:
import pandas as pd
df_csv = pd.read_csv('data.csv')
df_csv.head()

    B   1999-08-28   14
0  E   1999-12-06   121
1   E   1993-07-21   17
2    C   1991-02-12   2
3  E   1995-04-25   161
4   A   1992-08-22   14

In [5]:
%%writefile mapper2.py
#!/usr/bin/env python3
import sys
if __name__ == "__main__":
    for line in sys.stdin:
        letra,ano,valor=line.split()
        sys.stdout.write("{}\t{}\t{}\n".format(letra,ano,valor))

Overwriting mapper2.py

In [6]:
!chmod +x mapper2.py

In [80]:
!cat ./data.csv | ./mapper2.py | sort | head

A	1988-04-27	9
A	1990-07-22	4
A	1990-08-31	12
A	1990-09-05	11
A	1990-09-26	5
A	1990-10-06	10
A	1992-08-22	14
A	1992-09-19	18
A	1993-01-11	141
A	1993-05-08	16

In [11]:
lista=[1]
len(lista)

1

In [7]:
%%writefile reducer2.py
#!/usr/bin/env python3
import sys
if __name__ == '__main__':
    cont=0
    curkey=None    
    lista=[]
    for line in sys.stdin:
        cont+=1
        key, ano, val = line.split("\t")
        val=float(val)
        
        if cont==0:
            lista=[line]
        else:
            lista.append(line)       
    print(lista[0:1])

Overwriting reducer2.py

In [8]:
!chmod +x reducer2.py

In [9]:
!cat ./data.csv | ./mapper2.py | sort | ./reducer2.py

['A\t1988-04-27\t9\n']

In [192]:
%%writefile reducer2.py
#!/usr/bin/env python3
import sys
if __name__ == '__main__':
    cont=0
    curkey=None    
    lista=[]
    aux=[]
    for line in sys.stdin:
        key, ano, val = line.split("\t")
        val=int(val)
        
        if cont==0:
            lista.append(line)
        else:
            cont2=0
            aux=line
            for i in lista:
                x=i.split("\t")
                #print(x[2].strip(), val)
                if int(x[2].strip()) > val:
                    aux=lista[cont2]
                    lista[cont2]=line     
                    y=aux.split('\t')
                    val=int(y[2].strip())
                    line=aux
                cont2+=1
            lista.append(aux)
            #print(lista)
        cont+=1
    cont=0
    for datos in lista:
        datos=datos.split("\t")
        if cont<6:
            sys.stdout.write("{}\t{}\t{}".format(datos[0], datos[1], datos[2]))
        cont+=1
        #print(datos)

Overwriting reducer2.py

In [193]:
!chmod +x reducer2.py

In [194]:
!cat ./data.csv | ./mapper2.py | sort | ./reducer2.py

C	1994-07-27	1
C	1991-02-12	2
A	1990-07-22	4
A	1990-09-26	5
B	1997-04-09	6
E	1998-09-14	7